<table name="subscriber" type="insert" cleanup_after_test="true">
    <field name="username" value="{{ a[endpoint].username }}"/>
    <field name="domain" value="{{ c.domain }}"/>
    <field name="ha1" value="{{ a[endpoint].ha1 }}"/>
    <field name="password" value="VOLTS"/>
</table>